body {
  background-color:rgb(204, 237, 237);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

form h2 {
  margin: 0 0 1rem;
}

form label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

form input[type="number"], form textarea, form select {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: none;
}

form button[type="submit"] {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 3px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
