.createMealPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-and-data-container {
    display: flex;
    
  }
  
  .previous-data-container {
    width: 20vw;
    margin-right: 10vw;
    margin-top: 10vh;
    height: 80vh;
    color: black;
    
  }

  .logoutbtn {
    background-color: transparent;
    border: none;
    border-radius: 20%;
  }
  