.formStyle {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 5px;
  transform: scale(.8);
  color: black;
}

.formStyle h2 {
  margin-bottom: 2vh;
  max-height: 5vh !important;
}

.columns-container {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 0 0  10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  
}

.formStyle label {
  margin-top: 5px;
  padding-bottom: 10px;
  font-weight: 1000;
  font-size: 14px;
}

.formStyle input,
.formStyle select,
.formStyle textarea {
  padding: 8px;
  border: 1px solid #1A8DAF;
  border-radius: 3px;
  font-size: 14px;
  font-family: inherit;
  width: 100%; 
  
}

.formStyle button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
  max-height: 5vh !important;
  margin-left: 10px;
  margin-top: 10px;
}

.formStyle button:hover {
  background-color: #92F7FD;
}
