.formStyle {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid  #1A8DAF;
  }
  
  .formStyle h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .formStyle label {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .formStyle input,
  .formStyle select,
  .formStyle textarea {
    padding: 8px;
    border: 1px solid  #1A8DAF;
    border-radius: 3px;
    font-size: 14px;
    font-family: inherit;
  }
  
  .formStyle button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #35814A;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 20px;
  }
  
  .formStyle button:hover {
    background-color: #036B88

  }
  
  