/* .createMealPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */



  .form-and-data-container {
    display: flex;
  }
  
  .previous-data-container {
    width: 25vw;
    margin-right: 12vw;
    margin-top: 15vh;
    height: 60vh;
    color: black;
    border-radius: 8px;
    
  }

  .logoutbtn {
    background-color: transparent;
    border: none;
    border-radius: 20%;
  }
  
  .homelink {
    position: absolute;
    height: 5vh;
    left: 2vh;
    top:2vh;
  }
