.createMealPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-and-data-container {
    display: flex;
    padding: 5px;
  }
  
  .previous-data-container {
    width: 25vw;
    margin-left: 5vw;
    height: 100%;
  }