.formStyle {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 5px;
  transform: scale(0.75);
  color: black;
  position: relative;
  top: -12vh;
  background: rgba( 255, 255, 255, 0.2 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  height: 90vh;
  /* padding-bottom: 25vh; */
}

.formStyle h2 {
  text-align: center;
  margin-bottom: 2vh;
  max-height: 5vh !important;
  font-size: 2rem;
}

.columns-container {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 0 10px;
  justify-content: space-evenly;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.formStyle label {
  margin-top: 3vh;
  font-size: 1.1rem;
  margin-left: 1vw;
}

.formStyle input,
.formStyle select,
.formStyle textarea {
  padding: 4px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1rem;
  font-family: inherit;
  width: 85%;
  margin-left: 1vw;
  background-color: transparent;
}

.formStyle button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  max-height: 5vh !important;
  margin-left: 2vw;
  margin-top: 7vh;
  width: 93%;
}

.formStyle button:hover {
  background-color: #92f7fd;
}
