.dietDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    /* background-color: rgb(219, 255, 235); */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid  #1A8DAF;
  }
  
  .dietDisplay h2 {
    margin-bottom: 20px;
  }
  
  .dietDisplay pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }


  .info .dietUserStyle {
    font-weight: bold;
    font-size: 19px;
    color: #1A8DAF;
    margin-bottom: 0px;
  }
  

  .title-container {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
  }
  .share-container {
    display: flex;
    flex-direction: column;
  }
  
  .share-button-container {
    display: flex;
    align-items: center;
  }

.options-icon {
  font-size: 24px; 
  cursor: pointer;
  margin: 0;
}

.options-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% - 27px);
  right: calc(100% - 5px);
  margin: 0px;
  background-color:  rgb(238, 255, 245);
  border: 1px solid  #1A8DAF;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2px;
  z-index: 1;
}