.footer {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.LogoutIcon {
  padding-right: 14px;
}

.logoutbtn {
  height: 30px;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 1000;
}
