
* {
  height: 100%;
  overflow: hidden;
  font-family: 'Lexend Zetta', sans-serif;
}

img {
  position: fixed;
  width: 100%;
  height: auto;
  margin-right: 0px;
  
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    
  }
  .login-hero {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    height: 65px;
    margin-bottom: 30px;
    padding: 45px;
  }
  
  .headingName {
    color: white;
    padding-top: 15vh;
    font-size: 4.7rem;
  }
  
  .space {
    width: 100px;
  }

  .loginbtn {
    width: 100px !important;
  }