.previous-data-item {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background: #23568D;
  background: linear-gradient(114deg, rgba(211, 255, 204, 1) 0%, #0A1929 140%);
  border-radius: 5px;
  border: 1px solid  #1A8DAF;
  padding: 1rem;
  }
  
  .previous-data-item h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    
  }
  