.previous-data-item {
    background-color: #F4F4F4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid  #1A8DAF;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .previous-data-item h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    
  }
  