.previous-data-item {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background: rgba( 255, 255, 255, 0.2 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 5px;
  border: 1px solid white;
  text-decoration: underline;
  font-size: smaller;
  padding: 1rem;
  max-height: 150px;
  overflow-y: scroll;
  text-transform: uppercase;
}

.previous-data-item p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.PreviousDietDetails {
  border-radius: 5px;
  
}
