.profile-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  max-width: 30vw;
  max-height: 10vh !important;
  position: fixed !important;
  bottom: 0px !important;
  right: -1vw;
}

.profile-container img {
  width: 70px;
  height: 70px;
  left: 3vw;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
  z-index: 100;
}

.logout-button {
  display: flex;
  align-items: center;
  padding: 2vw;
  width: 14vw;
  height: 5vw;
  text-align: center;
  margin-right: -5vw;
  border-radius: 10px;
  text-transform: uppercase;
}



/*
.profile-container .info {
  display: flex;
  flex-direction: column;
}
.profile-container h2 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.profile-container p {
  font-size: 0.5rem;
  font-weight: 400;
  color: #787676;
} */

/* .create-meal-profile-box {
  position: fixed !important;
  left: 30vw !important;
} */
